@{
    Layout = null;
}

<head>
    <title style="color:white;">PACAPP</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <h1 style="text-align:center; top:0px; color:black;"><a class="active" href="#" style="size:40px"><i style="color:black;" class="fa fa-home"></i></a>Welcome!</h1>
    <table align="right" style="background-color:black; border:2px solid black;">
        <tr>
            <th style="background-color:white; border:2px solid black" colspan="7" ; align="left"><strong>Home</strong></th>
        </tr>
        <tr>
            <th style="background-color:white; border:2px solid black" align="left"><a asp-controller="User"asp-action="Add">Sign-Up</a></th>
        </tr>
        <tr>
            <th style="background-color:white; border:2px solid black" align="left"><a asp-controller="User" asp-action="User">Login</a></th>
        </tr>
        <th style="background-color:white; border:2px solid black" align="left">Forgot UserId or Password?</th>
    </table>
</head>
<h3 style="color:white;">PACAPP</h3>
<h4 style="color:white;">{PlanAheadCalendarApplication}</h4>

<body style="background-color:cornflowerblue;">
    <table style="background-color:black; border:2px solid black">
        <tr>
            <th style="background-color:white;" colspan="7" ;>❮ March 2021 ❯</th>
        </tr>
        <tr>
            <th style="background-color:white;">S</th>
            <th style="background-color:white;">M</th>
            <th style="background-color:white;">T</th>
            <th style="background-color:white;">W</th>
            <th style="background-color:white;">T</th>
            <th style="background-color:white;">F</th>
            <th style="background-color:white;">S</th>
        </tr>
        <tr>
            <td style="color:grey; background-color:white;">28</td>
            <td style="background-color:white;">1</td>
            <td style="background-color:white;">2</td>
            <td style="background-color:white;">3</td>
            <td style="background-color:white;">4</td>
            <td style="background-color:white;">5</td>
            <td style="background-color:white;">6</td>
        </tr>
        <tr>
            <td style="background-color:white;">7</td>
            <td style="background-color:white;">8</td>
            <td style="background-color:white;">9</td>
            <td style="background-color:white;">10</td>
            <td style="background-color:white;">11</td>
            <td style="background-color:white;">12</td>
            <td style="background-color:white;">13</td>
        </tr>
        <tr>
            <td style="background-color:white;">14</td>
            <td style="background-color:white;">15</td>
            <td style="background-color:white;">16</td>
            <td style="background-color:white;">17</td>
            <td style="background-color:white;">18</td>
            <td style="background-color:white;">19</td>
            <td style="background-color:white;">20</td>
        </tr>
        <tr>
            <td style="background-color:white;">21</td>
            <td style="background-color:white;">22</td>
            <td style="background-color:white;">23</td>
            <td style="background-color:white;">24</td>
            <td style="background-color:white;">25</td>
            <td style="background-color:white;">26</td>
            <td style="background-color:white;">27</td>
        </tr>
        <tr>
            <td style="background-color:white;">28</td>
            <td style="background-color:white;">29</td>
            <td style="background-color:white;">30</td>
            <td style="background-color:white;">31</td>
            <td style="color:grey; background-color:white;">1</td>
            <td style="color:grey;background-color:white;">2</td>
            <td style="color:grey;background-color:white;">3</td>
        </tr>
    </table>
    <p style="font-size:30px;" align="center">
        This web application is a great way to help users plan, create and organize their day-to-day tasks;
        however, this program can’t be used to set reminders, and is only a virtual planner.
    </p>
</body>
<!--Remove ForgotUserId option-->>