@model User

<h1> Account Details </h1>

<h4>Id:       @Model.Id </h4>

<h4>UserName: @Model.UserName </h4>

<h4>Password:  @Model.Password </h4>

<a asp-action="Edit" class="btn btn-sm btn-outline-success"> Edit </a>
<!--NEEDS A BACK(RETURN TO PREVIOS PAGE) & SAVE(LOGIN PAGE)-->
