@model PACAPP.Models.User

<h1>User Login </h1>

<form method="post">
    <h4>UserName:</h4>
    <input asp-for="UserName" />
    <br />

    <h4>Password:</h4>
    <input asp-for="Password">
    <br />

    <input type="submit" value="Login"/>
    <!--Add forgot userID or password button-->>
</form>